/*global*/ 
body {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
	font-size: 16px;
}
.content{
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
.footer{
	text-align: center;
}


/*post*/ 
.post-title{
	color: #990033;
}
.post-title-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
}
.post-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.post-time-line-categories{
	color: #990033;
}
.post-time-line-tag{
	margin: 0px 2px;
	padding: 0px 5px;
	border: 1px dashed #E7A466;
	color: #7b7368;
}
.post-content{
	margin-top: 15px;
}
	.post-content h1,
	.post-content h2,
	.post-content h3,
	.post-content h4{
		background-color: gray;
		padding: 10px 20px;
		color: #fff;
	}

/*page*/
.page-title{
	color: #990033;
}
.page-description{
	margin-top: 10px;
	text-indent: 2em;
}
.page-more{
	color: #a48d66;
}
.page-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.page-time-line-categories{
	color: #990033;
}
.page-time-line-tag{
	margin: 0px 2px;
	padding: 0px 5px;
	border: 1px dashed #E7A466;
	color: #7b7368;
}
.page-pagination{
	margin-top: 20px;
	text-align: center;
}
.page-paginator-nav{
	color: #990033;
}
.page-paginator-disable{
	color: #CCCCCC;
}
.page-paginator-number{
	color: #663333;
}

/*about*/
.about-info{
	background: #f7f7f6;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
	padding: 40px 0;
}
.about-introduction{
	background: #CCCCCC;
	padding: 40px 0;
}
.about-skills{
	padding: 40px 0;
	background: #39342d;
	margin-bottom: 20px;
}

/*msgboard*/
.msgboard-title{
	color: #990033;
}
.msgboard-title-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
}
.msgboard-content{
	margin-top: 30px;
	margin-bottom: 30px;
}

/*二维码*/
#elevator_item {
    width: 60px;
    height: 100px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    opacity: 1;
    z-index: 100020;
    display: none;
}

    #elevator_item.off {
        opacity: 0;
        visibility: hidden;
    }

#elevator {
    display: block;
    width: 60px;
    height: 50px;
    background: url(/images/icon_top.png) center center no-repeat;
    background-color: #444;
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: pointer;
    margin-bottom: 10px;
}

    #elevator:hover {
        background-color: rgba(0,0,0,.7);
    }

    #elevator:active {
        background-color: rgba(0,0,0,.75);
    }

#elevator_item .qr {
    display: block;
    width: 60px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: pointer;
    background: url(/images/icon_code.png) center center no-repeat;
    background-color: #444;
    background-color: rgba(0,0,0,.6);
}

    #elevator_item .qr:hover {
        background-color: rgba(0,0,0,.7);
    }

    #elevator_item .qr:active {
        background-color: rgba(0,0,0,.75);
    }

#elevator_item .qr-popup {
    width: 170px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    position: absolute;
    left: -180px;
    bottom: 0;
    border-radius: 2px;
    display: none;
    text-align: center;
}
    #elevator_item .qr-popup span{
        text-align: center;
    }
    #elevator_item .qr-popup .code-link {
        display: block;
        margin: 10px;
        color: #777;
    }

    #elevator_item .qr-popup .code {
        display: block;
        margin-bottom: 10px;
    }

    #elevator_item .qr-popup .arr {
        width: 6px;
        height: 11px;
        background: url(/images/code_arrow.png) 0 0 no-repeat;
        position: absolute;
        right: -6px;
        bottom: 14px;
    }
